.profile-img {
    height: 160px;
    width: 160px;
    object-fit: cover;
}
.text-2xl {
    font-size: 2.0rem;
}
.custom-autocomplete > div, .react-datepicker-wrapper > div {
    display: inline-flex !important;
    width: 100%;
}
.custom-autocomplete input, .react-datepicker-wrapper input {
    font: inherit;
    color: currentColor;
    width: 100% ;
    border: 1px solid rgba(0, 0, 0, 0.23);
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 18.5px 14px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    -webkit-tap-highlight-color: transparent;
    border-radius: 0.5rem;
}
.react-datepicker-wrapper input {
    padding: 17.5px 14px;
}
.custom-autocomplete input:hover, .react-datepicker-wrapper input:hover {
    border-color: rgba(0, 0, 0, 0.87);
}
.custom-autocomplete > div input ~ div {
    z-index: 9;
}
.react-datepicker-wrapper {
    display: block;
}
.edit-icon, .delete-icon  {
    position: absolute;
    top: -2px;
    right: 3px;
    height: 25px;
    width: 25px;
    line-height: 25px;
    background: #ffffff;
    color: #192d3e !important;
}
.delete-icon {
    bottom: 0px;
    top: inherit;
}
.edit-icon .MuiSvgIcon-fontSizeSmall, .delete-icon .MuiSvgIcon-fontSizeSmall  {
    font-size: 1.6rem;
}
.max-w-50 {
    max-width: 50%;
}
.chat-box .me p {
    width: 100%;
    text-align: right;
}
.company-img {
    height: 70px;
    width: 70px;
}
.custom-dropdown .MuiInputBase-input > div {
    padding-top: 9px !important;
    padding-left: 15px !important;
    padding-bottom: 9px;
}
.custom-dropdown .MuiInputBase-input > div p {
    left: 17px !important;
}
.react-datepicker {
    font-size: 1.1rem;
}
.react-datepicker-popper {
    z-index: 999;
}
.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
    font-size: 1.5rem;
}
.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    width: 2.5rem;
    line-height: 2.5rem;
}
.react-datepicker__navigation {
    top: 12px;
}
.MuiChip-label {
    padding-left: 0px;
}
.custom-img {
    height: 120px;
    width: 120px;
    object-fit: cover;
    border: 1px solid #e6e4e4;
}
.font-size-18 {
    font-size: 18px;
}
.bg-grey {
    background-color: #718096;
    color: #fff !important;
}
.project-edit-position {
    top: 4px !important;
    right: -7px !important;
}
.custom-tab-header {
    width: calc(100% - 64px);
    top: auto;
}
.tabs-content {
    padding-bottom: 50px;
}
.tabs-content .MuiTabs-flexContainer {
    justify-content: center;
}
.tabs-content .MuiBox-root {
  padding: 0px !important;
}
.tabs-content > .flex.flex-col > div {
   background-color: transparent;
}

.height-dialogcontent{
    min-height: 400px;
}

.chat-tab-content-height > .MuiBox-root,
.chat-tab-content-height >  .MuiBox-root > .MuiTypography-root{
    height: 100%;
}
.no-bg .MuiTypography-root > div > div {
    background: transparent;
    height: auto;
}
.static-form-label label{
    transform: translate(10px, -6px) scale(0.75);
    display: inline-block;
    transform-origin: top left;
    color: rgba(0, 0, 0, 0.54);
    font-size: 1.4rem;
    font-family: Muli,Roboto,"Helvetica",Arial,sans-serif;
    font-weight: 400;
    line-height: 1;
    background: #FFF;
    z-index: 1;
    position: absolute;
    vertical-align: middle;
    padding: 0 .5rem;
    top: 0;
    left: 0;
}
.static-form-label:focus label{
    color:#192d3e;
}
.static-form-label .icon{
    position: absolute;
    right: 14px;
    top: 50%;
    margin-top: -12px;    
}

.todoWrapper{
    padding: 0;
}
.todoWrapper [class|=makeStyles-header] {
    display: none;
}

.fileInfoSidebar .MuiDrawer-modal[aria-hidden="true"] .MuiDrawer-paperAnchorRight{
    opacity: 0;
    pointer-events: none;
}
.linear-progress {
    position: absolute;
    width: 100%;
    top: 67px;
    padding: 0px 35px 0px 10px;
}
.custom-float-btn {
    position: fixed;
    top: 100px;
}
.custom-float-btn > button {
    color: rgba(0, 0, 0, 0.87);
    background-color: #61dafb;
}
.custom-float-btn > button:hover {
    background-color: #33c2f8;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
#SpeedDialexample-actions button {
    background-color: #fff;
    color: #000;
    margin-right: 15px;
}
#SpeedDialexample-actions button:hover {
    background-color: rgb(255 255 255 / 0.90);
}
.speeddial-btn {
    position: absolute;
    bottom: 0px;
    z-index: 99;
    right: 0px;
}
.zoom-125 {
    zoom: 125% !important;
}
/* #SpeedDialexample-actions span span {
    top: -28px;
    left: 0;
    right: inherit;
} */
.me-right-align .me p {
    text-align: right;
}
.border-bottom {
    border-bottom: 2px solid #EEEEEE !important;
}
.select-dropdown div > div label ~ div > div > div  {
    padding-top: 10px !important;
    padding-bottom: 10px;
}
.custom-playlist-icon, .custom-edit-icon, .custom-error-icon {
    position: absolute;
    right: 100px;
}
.custom-edit-icon {
    right: 50px;
}
.bg-custom-grey {
    background: #e8e8e8;
}
.post-form textarea {
    height: 5em;
}
.custom-draw-img img  {
    max-width: fit-content;
    margin: 0 auto;
    object-fit: contain;
}
.custom-light-border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

@media only screen and (max-width: 767px) {
    .tabs-content header.custom-tab-header .MuiTab-root{
        min-width: 100px !important;
    }
    .custom-playlist-icon, .custom-error-icon {
        right: 50px;
    }
    .custom-edit-icon {
        right: 10px;
    }   
}
