@media (min-width: 600px) {
    .tabs-content header .MuiTab-root {
       min-width: 145px !important;
    }
}
@media only screen and (max-width: 1279px) {
    .custom-tab-header {
        width: calc(100% - 0px);
        flex-wrap: wrap;
        overflow-x: auto;
    }
    .tabs-content .MuiBox-root button {
        right: 20px !important;
    }
}
@media only screen and (max-width: 767px) {
    .profile-img {
        height: 120px;
        width: 120px;
    }
    .MuiInputBase-input {
        height: 0.8em;
    }
    .custom-autocomplete input {
        height: 0.8em;
    }
    .MuiButton-containedSizeSmall {
        font-size: 1.2rem;
    }
    .custom-dropdown .MuiInputBase-input {
        height: 3.5em;
    }
    .react-datepicker-wrapper input {
        padding: 15.5px 14px;
    }
    .MuiInputLabel-formControl {
        top: -2px;
    }
    .tabs-content .MuiTabs-flexContainer {
        justify-content: start;
    }
    .tabs-content header .MuiTab-root {
        min-width: 45px !important;
        overflow-x: auto !important;
        text-transform: capitalize;
        padding: 6px 8px !important;
        font-size: 1.2rem !important;
    }
}
@media only screen and (max-width: 600px) {
    .rs-dialog-sm-full .MuiDialog-paperFullWidth{
        width: calc(100% - 0px);
        max-height: calc(100% - 0px);
        margin: 0;
    }
}