.gantt-min-height {
	min-height: calc(100vh - 195px);
}
.nested_task {
	background-color: #dedede !important;
}
.nested_task .gantt_add {
	display: none !important;
}

.hide_add .gantt_add {
	display: none !important;
}
.hide_add.gantt_grid_head_add {
	display: none !important;
}
.hide_tree_icon .gantt_tree_icon {
	display: none !important;
}
.important {
	border: 2px solid red;
	color: red;
	background: red;
}
.important .gantt_task_progress {
	background: #ff5956;
}
.nested_task_right {
	border: 2px solid lightgreen;
	color: lightgreen;
	background: lightgreen;
}
.nested_task_right .gantt_task_progress {
	background: green;
}
.status_line {
	background-color: #0ca30a;
}
